{
  "plugins": [
    "stylelint-order"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-standard-scss"
  ],
  "ignoreFiles": ["node_modules"],
  "rules": {}
}
