@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  position: sticky;
  z-index: 1;
  top: 0;
  border-bottom: 1px solid $gray-color-2;
  background-color: $main-white-color;
  
  & > div {
    @include flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
  }
}

.franchise {
  @include flex;
  align-items: center;
  column-gap: 16px;
}

.mainHeading {
  font: $font-roboto-flex-1;
  color: $main-dark-color;
  opacity: 0.46;
  max-width: 159px;
  margin: 0;
}

.userMenu {
  @include flex;
  column-gap: 24px;
  align-items: center;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}

.headerButton {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;

  &:active {
    transform: translateY(1px);
  }
}

.headerButton.messages {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3C10.1771 3 8.4974 3.36458 6.96094 4.09375C5.45052 4.82292 4.23958 5.8125 3.32812 7.0625C2.44271 8.28646 2 9.64062 2 11.125C2 12.0885 2.19531 13 2.58594 13.8594C2.97656 14.7188 3.52344 15.513 4.22656 16.2422C4.01823 17.0495 3.60156 17.9089 2.97656 18.8203C2.61198 19.3411 2.3125 19.7188 2.07812 19.9531C2 20.0573 1.98698 20.1745 2.03906 20.3047C2.09115 20.4349 2.18229 20.5 2.3125 20.5C3.45833 20.5 4.57812 20.2656 5.67188 19.7969C6.42708 19.4583 7.14323 19.0286 7.82031 18.5078C9.14844 19.0026 10.5417 19.25 12 19.25C13.8229 19.25 15.4896 18.8854 17 18.1562C18.5365 17.4271 19.7474 16.4505 20.6328 15.2266C21.5443 13.9766 22 12.6094 22 11.125C22 9.64062 21.5443 8.28646 20.6328 7.0625C19.7474 5.8125 18.5365 4.82292 17 4.09375C15.4896 3.36458 13.8229 3 12 3Z' fill='%230B1524' fill-opacity='0.46'/%3E%3C/svg%3E%0A") center center / 24px 24px no-repeat transparent;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3C10.1771 3 8.4974 3.36458 6.96094 4.09375C5.45052 4.82292 4.23958 5.8125 3.32812 7.0625C2.44271 8.28646 2 9.64062 2 11.125C2 12.0885 2.19531 13 2.58594 13.8594C2.97656 14.7188 3.52344 15.513 4.22656 16.2422C4.01823 17.0495 3.60156 17.9089 2.97656 18.8203C2.61198 19.3411 2.3125 19.7188 2.07812 19.9531C2 20.0573 1.98698 20.1745 2.03906 20.3047C2.09115 20.4349 2.18229 20.5 2.3125 20.5C3.45833 20.5 4.57812 20.2656 5.67188 19.7969C6.42708 19.4583 7.14323 19.0286 7.82031 18.5078C9.14844 19.0026 10.5417 19.25 12 19.25C13.8229 19.25 15.4896 18.8854 17 18.1562C18.5365 17.4271 19.7474 16.4505 20.6328 15.2266C21.5443 13.9766 22 12.6094 22 11.125C22 9.64062 21.5443 8.28646 20.6328 7.0625C19.7474 5.8125 18.5365 4.82292 17 4.09375C15.4896 3.36458 13.8229 3 12 3Z' fill='%23d1d4d7' fill-opacity='0.46'/%3E%3C/svg%3E%0A");
  }

}

.headerButton.notification {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C13.1 22 14 21.1 14 20H10C10 21.1 10.89 22 12 22ZM18 16V11C18 7.93 16.36 5.36 13.5 4.68V4C13.5 3.17 12.83 2.5 12 2.5C11.17 2.5 10.5 3.17 10.5 4V4.68C7.63001 5.36 6.00001 7.92 6.00001 11V16L4.71001 17.29C4.08001 17.92 4.52001 19 5.41001 19H18.58C19.47 19 19.92 17.92 19.29 17.29L18 16Z' fill='%230B1524' fill-opacity='0.46'/%3E%3C/svg%3E%0A") center center / 24px 24px no-repeat transparent;
  position: relative;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C13.1 22 14 21.1 14 20H10C10 21.1 10.89 22 12 22ZM18 16V11C18 7.93 16.36 5.36 13.5 4.68V4C13.5 3.17 12.83 2.5 12 2.5C11.17 2.5 10.5 3.17 10.5 4V4.68C7.63001 5.36 6.00001 7.92 6.00001 11V16L4.71001 17.29C4.08001 17.92 4.52001 19 5.41001 19H18.58C19.47 19 19.92 17.92 19.29 17.29L18 16Z' fill='%23d1d4d7' fill-opacity='0.46'/%3E%3C/svg%3E%0A")
  }
}

.notificationsCount {
  position: absolute;
  top: -6px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 16px;
  border-radius: 40%;
  font: $font-roboto-flex-1;
  color: $main-white-color;
  background-color: $red-color-1;
  text-align: center;
}

.personalAccountButton {
  position: relative;
  background-color: $main-background-color;
  min-width: 101px;
  height: 32px;
  padding-left: 30px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  font: $font-roboto-flex-5;

  &:hover {
    background-color: $gray-color-3;
  }

  &:active {
    transform: translateY(1px);
  }

  &::after {
    @include pseudo-element;
    width: 32px;
    height: 32px;
    left: 0;
    top: calc(50% - 16px);
    border-radius: 50%;
    background-image: url(../../assets/img/female\ 1.png);
  }
}