@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  position: sticky;
  z-index: 1;
  top: 0;
  border-bottom: 1px solid $gray-color-2;
  background-color: $main-white-color;

  & > div {
    @include flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
  }
}

.franchise {
  @include flex;
  align-items: center;
  column-gap: 16px;
}

.mainHeading {
  font: $font-roboto-flex-1;
  color: $main-dark-color;
  opacity: 0.46;
  max-width: 159px;
  margin: 0;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  white-space: nowrap;
  border: 0;
}
