@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  background-color: $main-white-color;
  border-bottom: 1px solid $gray-color-2;
  
  & > div {
    @include flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
  }
}

.mainHeading {
  font: $font-roboto-flex-1;
  color: $main-dark-color;
  opacity: 0.46;
  max-width: 159px;
  margin: 0;
}

.userMenu {
  @include flex;
  column-gap: 24px;
}