@import '../../styles/variables.scss';

.fetchingError {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font: $font-roboto-flex-9;
  font-size: 32px;
  color: $red-color-1;
}
