@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
  position: sticky;
  bottom: 0;
  z-index: 1;
  margin-top: auto;
  padding: 32px 0 16px;
  border-top: 1px solid $gray-color-3;
  background-color: $gray-color-1;

  & a {
    &:hover {
      opacity: 0.7;
    }
  }
}

.firstRow {
  display: flex;
  justify-content: space-between;
  margin: 0 0 32px;
  font: $font-roboto-flex-2;

  & ul {
    @include list-reset;

    & li:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.secondRow {
  display: flex;
  column-gap: 26px;

  font: $font-roboto-flex-4;
  color: $main-dark-color;
  opacity: 0.66;

  & span {
    font: $font-roboto-flex-1;
    color: $gray-color-4;
    opacity: 1;
  }
}
