/* fonts */
$font-roboto-flex-1: 400 12px / 16px 'Roboto Flex Regular',
  oxygen,
  ubuntu,
  helvetica,
  arial,
  sans-serif;
$font-roboto-flex-2: 400 14px / 20px 'Roboto Flex Regular',
  oxygen,
  ubuntu,
  helvetica,
  arial,
  sans-serif;
$font-roboto-flex-3: 500 12px / 14px 'Roboto Flex Regular',
  oxygen,
  ubuntu,
  helvetica,
  arial,
  sans-serif;
$font-roboto-flex-4: 500 12px / 16px 'Roboto Flex Regular',
  oxygen,
  ubuntu,
  helvetica,
  arial,
  sans-serif;
$font-roboto-flex-5: 500 14px / 20px 'Roboto Flex Regular',
  oxygen,
  ubuntu,
  helvetica,
  arial,
  sans-serif;
$font-roboto-flex-6: 600 16px / 24px 'Roboto Flex Regular',
  oxygen,
  ubuntu,
  helvetica,
  arial,
  sans-serif;
$font-roboto-flex-7: 600 20px / 28px 'Roboto Flex Regular',
  oxygen,
  ubuntu,
  helvetica,
  arial,
  sans-serif;
$font-roboto-flex-8: 600 28px / 36px 'Roboto Flex Regular',
  oxygen,
  ubuntu,
  helvetica,
  arial,
  sans-serif;
$font-roboto-flex-9: 700 12px / 16px 'Roboto Flex Regular',
  oxygen,
  ubuntu,
  helvetica,
  arial,
  sans-serif;

/* colors */
$main-white-color: #fff;
$main-dark-color: #0b1524;
$main-background-color: #f2f3f4;
$gray-color-1: #f3f4f5;
$gray-color-2: #dcdee0;
$gray-color-3: #d1d4d7;
$gray-color-4: #8f949a;
$blue-color-1: #0762c8;
$red-color-1: #ff4e3d;

/* media */
$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1128px;

/* retina */
$retina-dpi-1-5: 144dpi;
$retina-dppx-1-5: 1.5dppx;
$retina-dpi-2: 192dpi;
$retina-dppx-2: 2dppx;
$retina-dpi-3: 288dpi;
$retina-dppx-3: 3dppx;
$retina-dpi-4: 384dpi;
$retina-dppx-4: 4dppx;

/* stacking context */
$modal-overlay-z-index: 9999;
